header{

    border: 3px solid turquoise;
    background-color:rgb(245, 116, 137);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


header h1, h2{
    margin-left:20px;
}

main{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:50px;
    color:rgb(245, 116, 137);
    border : 4px dotted black;
    background-color: palegreen;
}

main p{
    margin-left:20px;
    
}

footer{
    border: 3px solid turquoise;
    background-color:rgb(245, 116, 137);
    height:85px;
    text-align:center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


